form.formkit-form {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
   gap: 25px;
   font-family: "franklin-gothic-urw", arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   .section, .content {
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 15px;
      padding: 5px;
   }
   .formkit-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
   }
   input[type=color],
   input[type=date],
   input[type=datetime-local],
   input[type=datetime],
   input[type=email],
   input[type=month],
   input[type=number],
   input[type=password],
   input[type=search],
   input[type=tel],
   input[type=text],
   input[type=time],
   input[type=url],
   input[type=week],
   select,
   textarea,
   .libra-form-input {
      padding: 0.7em;
      display: inline-block;
      border: 1px solid $uva-grey-100;
      border-radius: 4px;
      vertical-align: middle;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      box-shadow: none;
      width: 100%
   }
   textarea {
      font-family: "franklin-gothic-urw", arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1.0em;
      color: $uva-text-color-base;
   }
   .libra-form-label {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
   }
   .libra-form-invalid {
      list-style: none;
      padding: 0;
      margin: 0.3rem 0 0 0;
      font-size: 0.9em;
      color: $uva-red-A;
   }
   .libra-required {
      color: $uva-grey;
      font-size: 0.9em;
      .star {
         color: $uva-text-color-base;
         font-size: 1.3em;
         font-weight: bold;
         margin-right: 0.5rem;
      }
   }
}
