<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="/stylesheets/view.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script>
      const downloadFile = ( (workID, fileName, buttonID) => {
         const btn = document.getElementById(buttonID)
         btn.setAttribute("disabled", 1)
         const url = `/api/works/${workID}/files/${fileName}?for=view`
         fetch(url).then( (response) => {
            if (!response.ok) {
               throw new Error(response.status);
            }
            return response.text()
         }).then((dlURL) => {
            const element = document.createElement('a')
            element.setAttribute('href', dlURL)
            element.setAttribute('download', fileName)
            element.style.display = 'none'
            document.body.appendChild(element)
            element.click()
            document.body.removeChild(element)
            btn.removeAttribute("disabled")
         }).catch((error) => {
            // TODO display on client?
            console.error(error)
            btn.removeAttribute("disabled")
         })
      })
   </script>
</head>
<body>
   {{template "header" .}}
   <div class="view-content">
      <div class="work-bkg"></div>
      <div class="public-work">
         <div class="details">
            <div class="metadata">
               <h1>
                  <span>{{.Title}}</span>
                  <span class="view-cnt">{{.Views}} views</span>
               </h1>   
               <section>
                  <h2>Author</h2>  
                  <div class="content author">
                     <span>{{.Author.LastName}}, {{.Author.FirstName}}, {{.Program}}, {{.Author.Institution}}</span>
                     {{if ne .Author.ORCID.URL ""}}
                     <a class="orcid" href="{{.Author.ORCID.URL}}" target="_blank" aria-describedby="new-window">
                        <img class="orcid-img" src="/images/orcid_id.svg" aria-hidden="true"/>
                        <span>{{.Author.ORCID.ID}}</span>
                     </a>
                     {{end}}
                  </div> 
               </section>
               {{ if .Advisors }}
               <section>
                  <h2>Advisors</h2>
                  <ul class="unstyled">
                     {{range .Advisors}}
                     <li class="advisor">
                        <span>{{ .LastName }}, {{ .FirstName }}</span>
                        {{if ne .Department ""}}
                        <span>,&nbsp;{{.Department}}</span>
                        {{end}}
                        {{if ne .Institution ""}}
                        <span>,&nbsp;{{.Institution}}</span>
                        {{end}}
                     </li>
                     {{end}}
                  </ul>
               </section>
               {{end}}
               <section>
                  <h2>Abstract</h2>
                  <div style="white-space: pre-wrap;">{{ .Abstract }}</div>
               </section>
               <section>
                  <h2>Degree</h2>
                  <div>{{ .Degree }}</div>
               </section>
               {{ if ne .Keywords ""}}
               <section>
                  <h2>Keywords</h2>
                  <div>{{ .Keywords }}</div>
               </section>
               {{ end }}
               {{ if .Sponsors }}
               <section>
                  <h2>Sponsors</h2>
                  <ul class="unstyled">
                     {{ range .Sponsors }}
                     <li>{{ . }}</li>
                     {{ end }}
                  </ul>
               </section>
               {{ end }}
               {{ if .RelatedURLs }}
               <section>
                  <h2>Related Links</h2>
                  <ul class="links">
                     {{ range .RelatedURLs }}
                     <a href="{{ . }}" target="_blank" >{{ . }}</a>
                     {{ end }}
                  </ul>  
               </section>
               {{ end }}
               {{ if ne .Notes ""}}
               <section>
                  <h2>Notes</h2>
                  <div style="white-space: pre-wrap;">{{ .Notes }}</div>
               </section>
               {{ end }}
            </div>
         </div>
         {{ template "files" .}}
      </div>
   </div>
   <footer>{{template "footer" .}}</footer>
</body>

</html>