<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="/stylesheets/view.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script>
      const downloadFile = ( (workID, fileName, buttonID) => {
         const btn = document.getElementById(buttonID)
         btn.setAttribute("disabled", 1)
         const url = `/api/works/${workID}/files/${fileName}?for=view`
         fetch(url).then( (response) => {
            if (!response.ok) {
               throw new Error(response.status);
            }
            return response.text()
         }).then((dlURL) => {
            const element = document.createElement('a')
            element.setAttribute('href', dlURL)
            element.setAttribute('download', fileName)
            element.style.display = 'none'
            document.body.appendChild(element)
            element.click()
            document.body.removeChild(element)
            btn.removeAttribute("disabled")
         }).catch((error) => {
            // TODO display on client?
            console.error(error)
            btn.removeAttribute("disabled")
         })
      })
   </script>
</head>
<body>
   {{template "header" .}}
   <div class="view-content">
      <div class="work-bkg"></div>
      <div class="public-work">
         <div class="details">
            <div class="metadata">
               <h1>
                  <span>{{.Title}}</span>
                  <span class="view-cnt">{{.Views}} views</span>
               </h1>   
            </div>
            <div>
               <p>This is work {{.WorkID}} </p>
               {{if .SignedIn }}
                  <div>It is being accessed by {{.DisplayName}}</div>
               {{else}}
                  <div>It is being accessed without a signed in user</div>
               {{end}}
               <div>
                  <button onclick="downloadClicked()">TEST</button>
               </div>
            </div>
         </div>
         {{ template "files" .}}
      </div>
   </div>
   <footer>{{template "footer" .}}</footer>
</body>

</html>